<h3>SUBMIT POST</h3>
<div>
    <p>Title</p>
    <input type="text" id = "post-title">
    <p>Text</p>
    <input type="text" id = "post-content">
    <button id="post-button">POST!</button>
</div>

<script src="/js/post-submission.js"></script>