{{> post-details post}}
{{!-- TODO: Have comments appear here --}}
{{#if loggedIn}}
<input type="text" id="comment-content">
<a id="comment-button"><button>+ Add Comment</button></a>
<p>Commenting on post #<span id='post-id'>{{post.id}}</span> as <span id='user-name'>{{currentUser}}</span></p>
{{else}}
<p><a href="/login">Login</a> to comment</p>
{{/if}}
<script src="/js/view-single-post.js"></script>